VITE_ENV_TYPE=dev
VITE_GRAPHQL_URL=http://localhost:4000/graphql
VITE_BACKEND_URL=http://localhost:4000
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
FRONTEND_CONTAINER=local-frontend
FRONTEND_INT_PORT=3000
FRONTEND_EXT_PORT=3000
APP_NETWORK=topos_local_network
