DATABASE_URL=""
DATABASE_URL_MIGRATE=""
JWT_SECRET="my_secret_pass"

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

RAILWAY_CONSUMER_WAKEUP_URL=""
RAILWAY_WAKEUP_SECRET=""

UPSTASH_RATELIMIT_REDIS_REST_URL=""
UPSTASH_RATELIMIT_REDIS_REST_TOKEN=""