.git/
.gitignore

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.md

Dockerfile
.dockerignore

compose*.yml
infra/
gqlgen.yml
makefile
tools.go
.env.example

*.test
*.out
coverage.out
coverage.html

*.log
